@model IEnumerable<TilausDB1.ViewModels.TilausTietoData>

@{
    ViewBag.Title = "Tilaussummary";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".showTilausLuokka").click(function () {
                let TilausID = $(this).data("orderid");
                //alert("Klikkasit tilausnumeroa: " + TilausID);
            });
        });
    </script>
}

<h2>Tilaushistoria</h2>

<div class="container-fluid">
    <div class="card-header">
        <a class="card-link">
            <form>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning font-weight-bold">Tilaus</span>
                    </div>
                    @*<input type="text" class="form-control bg-warning font-weight-bold px-2" value="Tilaus ID" disabled>*@
                    <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Asiakas ID" disabled>
                    <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Toimitusosoite" disabled>
                    <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Tilaus päivämäärä" disabled>
                    <input type="text" class="form-control bg-warning font-weight-bold px-2" value="Toimitus päivämäärä" disabled>
                </div>
            </form>
        </a>
    </div>
    <div id="accordion">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header">
                    <a class="card-link showTilausLuokka" data-orderid="@item.TilausID" data-bs-toggle="collapse" href="#collapse_@item.TilausID">
                        <form>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> @item.TilausID</span>
                                </div>

                                @*<input type="text" class="form-control px-2" value="@item.Asiakkaat.Osoite" disabled />
        <input type="text" class="form-control px-2" value="@item.Asiakkaat.Postinumero" disabled />
        <input type="text" class="form-control px-2" value="@item.Asiakkaat.Vastuumyyja" disabled />
        <input type="text" class="form-control px-2" value="@item.Asiakkaat.Luottoraja" disabled />
        <input type="text" class="form-control px-2" value="@item.Asiakkaat.Websivusto" disabled />*@

                                @*<input type="text" class="form-control px-2" value="@item.TilausID" disabled />*@
                                <input type="text" class="form-control px-2" value="@item.AsiakasID" disabled />
                                <input type="text" class="form-control px-2" value="@item.Toimitusosoite" disabled />
                                <input type="text" class="form-control px-2" value="@item.Tilauspvm" disabled />
                                <input type="text" class="form-control px-2" value="@item.Toimituspvm" disabled />
                            </div>
                        </form>
                    </a>
                </div>
                <div id="collapse_@item.TilausID" class="collapse" data-bs-parent="#accordion">
                    <div class="card-body">
                        <p>Ladataan tilauksen @item.TilausID rivit</p>
                        @*<div id="orderDetails_@item.TilausID"></div>*@
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@*<tr class="showTilausLuokka" data-orderid="@item.TilausID">
    <td>@Html.DisplayFor(modelItem => item.AsiakasID)
</td>
<td>@Html.DisplayFor(modelItem => item.Nimi)
</td>
<td>@Html.DisplayFor(modelItem => item.Osoite)
</td>
<td>@Html.DisplayFor(modelItem => item.Postinumero)
</td>
<td>@Html.DisplayFor(modelItem => item.Vastuumyyja)
</td>
<td>@Html.DisplayFor(modelItem => item.Luottoraja)
</td>
<td>@Html.DisplayFor(modelItem => item.Websivusto)
</td>
<td>@Html.DisplayFor(modelItem => item.TilausID)
</td>
<td>@Html.DisplayFor(modelItem => item.Toimitusosoite)
</td>
<td>@Html.DisplayFor(modelItem => item.Tilauspvm)
</td>
<td>@Html.DisplayFor(modelItem => item.Toimituspvm)
</td>
</tr>*@