@model IEnumerable<TilausDB1.ViewModels.TilausTietoData>

@{
    ViewBag.Title = "Tilaussummary";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".showTilausLuokka").click(function () {
                let TilausID = $(this).data("orderid");
                alert("Klikkasit tilausnumeroa: " + TilausID);
            });
        });
    </script>
    }

<h2>Tilaushistoria</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.AsiakasID)</th>
        <th>@Html.DisplayNameFor(model => model.Nimi)</th>
        <th>@Html.DisplayNameFor(model => model.Osoite)</th>
        <th>@Html.DisplayNameFor(model => model.Postinumero)</th>
        <th>@Html.DisplayNameFor(model => model.Vastuumyyja)</th>
        <th>@Html.DisplayNameFor(model => model.Luottoraja)</th>
        <th>@Html.DisplayNameFor(model => model.Websivusto)</th>
        <th>@Html.DisplayNameFor(model => model.TilausID)</th>
        <th>@Html.DisplayNameFor(model => model.Toimitusosoite)</th>
        <th>@Html.DisplayNameFor(model => model.Tilauspvm)</th>
        <th>@Html.DisplayNameFor(model => model.Toimituspvm)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="showTilausLuokka" data-orderid="@item.TilausID">
        <td>@Html.DisplayFor(modelItem => item.AsiakasID)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Nimi)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Osoite)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Postinumero)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Vastuumyyja)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Luottoraja)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Websivusto)
        </td>
        <td>@Html.DisplayFor(modelItem => item.TilausID)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Toimitusosoite)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Tilauspvm)
        </td>
        <td>@Html.DisplayFor(modelItem => item.Toimituspvm)
        </td>
    </tr>
}

</table>
