@model IEnumerable<TilausDB1.Models.Tilaukset>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
      integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
      crossorigin="anonymous">


@{
    ViewBag.Title = "Index";
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $(".getOrderId").click(function () {
                let orderId = $(this).data("orderid");
                console.log("Klikkasit tilausnumeroa: " + orderId);
                var url = "/Tilaukset/_ModalEdit/?id=" + orderId;
                console.log(url);

                $("#orderEdit").append(" <b>Avataan tilauksen " + orderId + " muokkausikkuna...</b>");

                var $detailDivEdit = $("#orderEdit");
                $.get(url, function (data) {
                    $detailDivEdit.replaceWith(data);
                    $('#ModalOrderEdit').modal('show');
                });
            });
        });
    </script>
    }

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div id="orderEdit"></div>
<table class="table">
    <tr>
        <th>Muokkaa</th>
        <th>@Html.DisplayNameFor(model => model.Toimitusosoite)</th>
        <th>@Html.DisplayNameFor(model => model.Tilauspvm)</th>
        <th>@Html.DisplayNameFor(model => model.Toimituspvm)</th>
        <th>@Html.DisplayNameFor(model => model.Asiakkaat.Nimi)</th>
        <th>@Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><button class="getOrderId fas fa-edit" data-orderid="@item.TilausID"></button></td>
            <td>@Html.DisplayFor(modelItem => item.Toimitusosoite)</td>
            <td>@Html.DisplayFor(modelItem => item.Tilauspvm)</td>
            <td>@Html.DisplayFor(modelItem => item.Toimituspvm)</td>
            <td>@Html.DisplayFor(modelItem => item.Asiakkaat.Nimi)</td>
            <td>@Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)</td>
            <td>
                <a class="btn btn-primary" href="~/Tilaukset/Edit/@item.TilausID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </a>
                <a class="btn btn-primary" href="~/Tilaukset/Details/@item.TilausID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
                        <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z" />
                    </svg>
                </a>
                <a class="btn btn-primary" href="~/Tilaukset/Delete/@item.TilausID">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                </a>
            </td>
        </tr>
    }

</table>
